/* App.css */

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.folder {
  margin-bottom: 10px;
}

.folder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.folder-header input[type="text"] {
  width: 150px;
  padding: 5px;
  margin-right: 5px;
}

.folder-header button {
  padding: 4px 6px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.folder-content {
  padding-left: 15px;
}

.add-file {
  margin-top: 6px;
  display: flex;
}

.add-file input[type="text"] {
  width: 100px;
  margin-right: 5px;
}

.add-file button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.file {
  margin: 6px;
  padding:4px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.file.active {
  background-color: #fff;
  border: 1px solid #2196f3;
}

.file input[type="text"] {
  width: 100px;
  margin-right: 5px;
}

.file button {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.editor {
  flex: 1;
  height: 100vh;
}




